@import url("https://fonts.googleapis.com/css2?family=Material+Icons");

.material-icons,
.icon-button {
  @apply font-material-outlined font-size-8 select-none;
}

.icon-button {
  @apply w-2rem h-2rem p-0 bg-transparent b-none cursor-pointer select-none;
}

.text-new {
  @apply font-size-1.6rem !font-bold case-upper !c-tertiary-800;
}

.text-caption {
  @apply font-primary font-400 font-size-1.2rem line-height-1.8rem;
}

.text-subtitle-2 {
  @apply font-primary font-600 font-size-1.6rem line-height-2.4rem;
}

body:has(.handle:hover) {
  @apply cursor-grab;
}

[data-placeholder]:empty::before {
  @apply content-[attr(data-placeholder)] c-gray-400 pointer-events-none;
}

input[type=range] {
  @apply accent-primary-900 h-2px;

  &::-webkit-slider-thumb {
    width: 2rem;
    margin-top: -1px;
  }
}
