@import url("https://fonts.googleapis.com/css2?family=Material+Icons");

.material-icons,
.icon-button {
  @apply font-material-outlined font-size-8 select-none;
}

.icon-button {
  @apply w-2rem h-2rem p-0 bg-transparent b-none cursor-pointer select-none;
}

body:has(.handle:hover) {
  @apply cursor-grab;
}

[data-placeholder]:empty::before {
  @apply content-[attr(data-placeholder)] c-gray-400 pointer-events-none;
}

input[type=range] {
  @apply accent-primary-900 h-2px;

  &::-webkit-slider-thumb {
    width: 2rem;
    margin-top: -1px;
  }
}

hr {
  @apply w-full b-(1 solid grey-300);
}

[class*="bannerInner"] [class*="content"] button {
  @apply mt-4rem -mb-8rem c-white b-white;

  &>.material-icons {
    color: white !important;
  }
}

head:has(meta[property="og:url"][content^="/form/preview"]) + body {
  & header {
    display: none;
  }

  & [class^="styles_pageWrapper"] {
    padding-top: 0;
  }

  & .backdrop {
    min-height: 100%;
  }
}
